APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_WEB_URL=https://localhost
APP_WEB_API_URL=https://localhost
APP_WEB_API_VERSION=v1
APP_WEB_ASSETS_URL=https://localhost
APP_AFFILIATE_URL=https://localhost
APP_HTTPS=false
APP_DISABLE_ROUTE_DOMAINS=false

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

TESTING_DB_HOST=127.0.0.1
TESTING_DB_PORT=3306
TESTING_DB_DATABASE=homestead
TESTING_DB_USERNAME=homestead
TESTING_DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_NAME="Anew Beginning Biomagnetism"
MAIL_FROM_ADDRESS=anewavenuebio@gmail.com

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_S3_URL="https://s3-${AWS_DEFAULT_REGION}.amazonaws.com/${AWS_BUCKET}"

FIREBASE_VERSION=
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_DATABASE_URL=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=

GOOGLE_MAPS_API_KEY=
GOOGLE_RECAPTCHA_SITE_KEY=
GOOGLE_RECAPTCHA_SECRET_KEY=

GOOGLE_ANALYTICS_ID=

PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=sandbox

LCS_MAIL_TO="${MAIL_FROM_ADDRESS}"
LCS_NOTIFY_WITHOUT_VULNERABILITIES=false
LCS_SLACK_WEBHOOK=""

SENTRY_LARAVEL_DSN=
SENTRY_REPORT_URI=

META_DESCRIPTION=
META_KEYWORDS=
