.row-1 {
    background-color: #f3f660;
    height: 35px;
}

.row-2 {
    background-color: #e7a23c;
    color: #174891;
    font-size: 20px;
    height: 35px;

}

.row-3 {
    background-color: #31b6e8;

}

body {
    background-color: #a69576;
    background-position: 50% 50%;
    font-family: Myriad_Pro_Regular;

}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

.responsive {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.headerimageicon {
    width: 100%;
    max-width: 24px;
    height: auto;
    margin-top: 5px;
}

.headericontext {
    color: #ffffff;
}

.profile-image {
    vertical-align: middle;
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 50%;
}

.main-body {
    margin-top: 60px;
}

.main-body-down {

    bottom: 0px;
    background-color: #5a5d5e
}

.text-heading-row {
    margin-top: 30px;
}

.text-heading-color {
    color: #ffffff;
}

.bodyicon-img {
    height: 24px;
    width: 24px;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.text-footer-heading {
    margin-top: 200px;
}

#personal-info {
    margin-top: 100px;
}

@media only screen and (max-width: 768px) {
    #footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }

    .text-footer-heading {
        margin-top: 50px;
    }

    .profile-image {
        vertical-align: middle;
        width: 100%;
        max-width: 60px;
        height: auto;
        border-radius: 50%;
    }

    .privacy-button {
        text-align: center;
        margin-top: 10px;
    }

    #personal-info {
        margin-top: 50px;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 28px;
    }

    .switch input {
        display: none;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #db1662;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 28px;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 28px;
        width: 38px;

        background-color: #e5e5e6;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 28%;
    }

    input:checked + .slider {
        background-color: #2ab934;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(37px);
    }

    /*------ ADDED CSS ---------*/
    .slider:after {
        content: 'OFF';
        color: #e5e5e6;
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        font-size: 10px;
        font-family: Verdana, sans-serif;
    }

    input:checked + .slider:after {
        content: 'ON';
    }

}

@font-face {
    font-family: Myriad_Pro_Regular;
    src: url(../fonts/Myriad_Pro_Regular.ttf);
}

.switch {
    position: relative;
    display: inline-block;
    width: 108px;
    height: 34px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #db1662;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 34px;
    width: 44px;

    background-color: #e5e5e6;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 41%;
}

input:checked + .slider {
    background-color: #2ab934;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(36px);
    -ms-transform: translateX(36px);
    transform: translateX(65px);
}

/*------ ADDED CSS ---------*/
.slider:after {
    content: 'OFF';
    color: #e5e5e6;
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    font-size: 10px;
    font-family: Verdana, sans-serif;
}

input:checked + .slider:after {
    content: 'ON';
}

/*--------- END --------*/