p {
  margin-top: -70px;
  padding-left: 107px;
}

.pb-cmnt-container {
  font-family: Lato, sans-serif;
  margin-top: 0;
  padding-top: 7px;
}

.pb-cmnt-textarea {
  border: 1px solid #007bff !important;
  height: 150px;
  padding: 20px;
  resize: none;
  width: 100%;
}

.card-block {
  background-color: #87ceeb;
}

.profile-image {
  height: 80px;
  width: 80px;
}

.share-container {
  background: #d6edf5;
  border-radius: 5px;
  padding: 15px;
}

.card-header {
  background: #d7d7d7;
}

#submit {
  margin-top: 10px;
}

#s-post {
  margin-top: 0;
}

.table th {
  border-bottom: 2px dotted #dee2e6;
  border-top: 0;
  overflow: hidden;
}

.table tr:first-child th {
  border-top: 2px dotted #dee2e6;
}

.post-container {
  min-height: 80px;
  overflow: hidden;
}

.post-time {
  font-size: 12px;
  padding-left: 107px;
  padding-right: 10px;
}

.comments {
  color: #0056b3;
  cursor: pointer;
  font-size: 12px;
  padding-left: 10px;
}

.short-details-post {
  margin: 0;
}

.dis-menucontainer {
  border: 1px solid #e4e3e3;
  border-radius: 5px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;

  .card-body ul li a {
    padding: 0 8px;
  }
}

.list-unstyled a {
  display: block;
  width: 100%;
}

.main-body {
  margin-top: 0;
  padding-top: 10px;
}

.comment-container {
  border-top: 1px solid #e4e3e3;
  clear: both;
  margin-left: 107px;
  margin-top: 10px;
  overflow: hidden;
}

.dis-none {
  display: none;
}

.input-comment {
  padding: 10px;
}

.comment-content {
  p {
    border-bottom: 1px solid #e4e3e3;
    font-weight: 100;
    margin: 0;
    padding: 10px;
    text-align: justify;

    strong {
      background: #ccc;
      border-radius: 15px;
      display: inline-block;
      margin-right: 9px;
      padding: 0 10px;
      padding-bottom: 2px;
    }
  }

  .single-comment {
    border-bottom: 1px solid #e4e3e3;
    margin-top: 5px;
    padding: 10px 0;
  }
}

.card-body ul li a.active {
  background: #ccc;
}

.comment-time {
  display: -webkit-box;
  font-size: 11px;
  font-weight: 600;
  padding-top: 5px;
}

.post-name {
  margin: 0;
  text-decoration: underline;
}

.comment-user-image {
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.comment-form {
  padding-top: 8px;

  input {
    width: calc(100% - 62px);
  }
}

.post-comment {
  background: #0062cc;
  border-radius: 4px;
  color: #fff;
  float: right;
  margin-top: 10px;
  padding: 4px 10px;
}

.bioconnect-menu {
  height: 55px !important;
}

@media only screen and (max-width: 768px) {
  .bioconnect-menu {
    height: auto !important;
  }
}

.my-4 {
  width: 100%;
}
